* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-header: hsl(218, 17%, 62%);
    --bg-h1: hsl(275, 18%, 79%);
    --bg-main: hsl(233, 100%, 97%);
    --bg-h2: hsl(312, 91%, 96%);

    --ff-h1h2: 'Staatliches', cursive;
    --ff-p: 'Palanquin', sans-serif;
    --ff-p-desktop: 'Roboto', sans-serif;
    --ff-footer-desktop: 'Open Sans', sans-serif;

    font-size: 62.5%;
}

.page {
    max-width: 38.4rem;
    margin: 0 auto;
}

header {
    text-align: center;
    background: var(--bg-header);
    padding-top: 3.2rem;
    padding-bottom: 2.9rem;
}

header h1 {
    background: var(--bg-h1);
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-top: 3.2rem;
   
    font-style: normal;
    font-weight: 400;
    font-size: 4.0rem;
    line-height: 3.4rem;
    letter-spacing: 0.05em;
    font-family: var(--ff-h1h2);
    color: #FFFFFF;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

main {
    background: var(--bg-main);
    padding-bottom: 6.0rem;    
}

main p {
    font-family: var(--ff-p);
    font-style: normal;
    font-weight: 400;
    font-size: 2.0rem;
    line-height: 2.0rem; /* Figma = 1.5rem. Adaptado para 2rem. */
    align-items: center;
    text-align: center;
    color: #23053A;
    background: var(--bg-main);
    padding-top: 1.4rem;
    padding-bottom: 6.3rem; 
    width: 30.5rem;
    margin: auto; /* Para centralizar a caixa p. */
}

.allcards {
    display: grid;
    gap: 3.2rem;
    text-align: center;
}

.allcards .cards {
    position: relative;
    width: fit-content; /* Para ter a largura do conteúdo. */
    margin: 0 auto; /* Alinhar. */
}

.allcards .cards img {
    animation: downtop 700ms;
    /* object-fit: cover; */
}

.allcards .cards h2 {
    position: absolute; /* Posição relativa a imagem, class cards. */
    top: 1.6rem;
    right: 1.6rem;
    
    background: var(--bg-h2);
    border-radius: 2.0rem;
    font-family: var(--ff-h1h2);
    font-style: normal;
    font-weight: 400;
    font-size: 2.0rem;
    line-height: 3.4rem;
    letter-spacing: 0.05em;
    color: #4A4E69;
    padding: 1px 2.4rem;

    animation: topdown 700ms 350ms backwards;
}

#images5-6 {
    display: none; /* Imagens 5 e 6 apenas visíveis na versão desktop. */
}

footer p {
    display: none; /* Footer apenas visível na versão desktop. */
}

@keyframes downtop { /* Cards */
    0% {
        transform: translateY(15px);
        opacity: 0.5;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes topdown { /* Tipos de sorvete, h2. */
    0% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0);
    }
}

@media (min-width: 1024px) {
    body {
        background: var(--bg-main);
        width: 100vw;
    }

    .page {
        max-width: 37.7rem;
        left: 0;
        top: 0;
        margin: 0;
        display: flex;    
        
    }    

    header {
        display: flex;
        flex-direction: column;
        
               
      }

    header img {
        width: 21.5rem;
        height: 16.7rem; 
        margin: 0 auto;
    }

    header h1 {
        text-align: center;
      }

    header::after {
        content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a rhoncus leo. Donec at scelerisque magna. Nullam vitae neque sit amet erat dignissim cursus ac ac lectus. Aliquam erat volutpat. Praesent at quam aliquet, pharetra est in, sagittis lorem.elit. Donec a rhoncus leo. Donec at scelerisque magna. Nullam vitae neque sit amet erat dignissim cursus ac ac lectus. Aliquam erat volutpat. Praesent at quam aliquet, pharetra est in, sagittis lorem.";
        
     /*    max-width: 27.5rem;
        height: 26.2rem; */
        font-family: var(--ff-p-desktop)
        font-style: normal;
        font-weight: 400;
        font-size: 2.4rem;
        line-height: 2.0rem;
        color: #FFFFFF;
        

        margin: 0 5.4rem;

        padding-top: 3.2rem;
        padding-bottom: 12.5rem;
    }

    main p {
        display: none;
    }

    .allcards {
        display: grid;
        
        justify-content: space-around;
        grid-template-areas:
            "A B C"
            "D B F"
            "D E F";
    
        padding: 0;
        gap: 3.2rem; 
        
    }

    .allcards div:nth-child(1) {
        grid-area: A;
    }
    
    .allcards div:nth-child(2) {
        grid-area: B;
    }
    
    .allcards div:nth-child(3) {
        grid-area: C;
    }
    
    .allcards div:nth-child(4) {
        grid-area: D;
    }
    
    .allcards div:nth-child(5) {
        grid-area: E;
    }
    
    .allcards div:nth-child(6) {
        grid-area: F;
    }
    
    #images5-6 {
        display: block;
    }

    .wrapper-main-footer {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        margin-top: 6.4rem;
        background: var(--bg-main);
        margin-left: 6rem; /* Adaptado. Figma = 9.8rem */
        margin-right: 6rem; /* Adaptado. Figma = 9.8rem */
        
    }

    footer p {
        display: block;
        font-family: var(--ff-p-desktop);
        font-style: normal;
        font-weight: 40.0rem;
        font-size: 1.4rem;
        line-height: 2.8rem;
        text-align: center;
        color: #4A4E69;
        mix-blend-mode: normal;
        background: var(--bg-main);

        margin-bottom: 4.6rem;
        
    }

    a {
        text-decoration: none;
        color: #4A4E69;
    }
}
